# Ignore build output directory
**/build

# Eclipse
**/bin
**/test-bin
**/.classpath
**/.project
# **/.settings/
/.settings
# */.checkstyle
# */.eclipse-pmd
!_jdbld/.project
!_jdbld/.classpath
!_jdbld/.settings/

# Others
.gradle/
.metadata/
.recommenders/
**/org.eclipse.jdt.core.prefs
/node_modules/
/package-lock.json
/jdbld.log
