body {
  font-family: Arial,Verdana,Arial,Helvetica,sans-serif;
  font-size: 100%;
  color: #444;
  padding: 2mm;
}

.topMessageDisplay {
  background: #F1F1F1;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  width: 80%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5pt;
}

#topMessageList {
  margin-top: 0;
  margin-bottom: 0;
}

.topMessageDisplay .error {
  color: #EA4848;
}

.topMessageCloseIcon {
  float: right;
  margin-left: 4px;
  margin-bottom: 4px;
}

.topMessageText {
}

.languageSelector {
  position: absolute;
  top: 5pt;
  right: 8pt;
}

.title {
  font-size: 150%;
  font-weight: bold;
  color: #E87500;
  padding-bottom: 10pt;
}

.tabs {
  padding-top: 4pt;
  padding-bottom: 4pt;
}

.tab {
  font-size: 14pt;
  border: 1px solid #BBB6AD;
  background: #F1F1F1;
  margin-right: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative; bottom: -1px; z-index: 20;
  padding: 4pt 2pt 4pt 0pt;
}

.tab:hover {
  margin-left: 5pt;
}

.tabLabel {
  text-decoration: none;
  color: #444;
  padding: 4pt 2pt 4pt 16pt;
}

.activeTab .tabLabel {
  color: #E87500;
}

.tabLabel:hover {
  color: #E87500;
}

/* Tab icons with hover appearing effect */
.tabIcons {
  display: inline;
  padding-right: 4px;
}

.no-touch .tabIcons {
  display: none;
}

.no-touch .tab:hover .tabIcons {
  display: inline;
}

/* Tab closer with hover effect */
.tabCloser {
  font-size: 12px;
  position: relative;
  top: -9px;
  background: url("close-tab.png") top left no-repeat
}

.tabCloser img {
  vertical-align: text-top;
}

.no-touch .closableTab .tabCloser img {
  visibility: hidden;
}

.no-touch .closableTab:hover .tabCloser img {
  visibility: visible;
}

.activeTab {
  background: white;
  border-bottom: 1px solid white;
}

.activeTab .tab-label {
  color: #E87500;
}

.page {
  border: 1px solid #BBB6AD;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: static; z-index: 10;
  clear: both;
}


.widget {
  background: white;
  border: 1px solid #BBB6AD;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.widgetBorder {
  margin: 10pt 8pt;
}

/* Widget title with hover effect */
.widgetTitle {
  background: #B5B0A7 url('title-bg.png');
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  width: 100%;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 16px;
}

.no-touch .widgetTitle:hover {
  background: #bdb7ae url('title-bg-hover.png');
  vertical-align: middle;
}

/* Widget buttons with hover effect */
.widgetButtons {
  display: inline;
  float: right;
  padding-top: 0.2em;
  margin-right: 0.3em;
}

.no-touch .widgetButtons {
	display: none;
}

.no-touch div.widgetTitle:hover .widgetButtons {
  display: inline;
}

.widgetButtonsStatic {
  float: right;
  padding-top: 0.2em;
  margin-right: 0.3em;
}

.widgetLabel {
  font-size: 14pt;
  padding: 2px 0 0 10px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 2px #7E7363;
}

.widgetBody {
  padding: 0.5em;
}

#overlay {
    z-index: 1000;
    filter: alpha(opacity=50); /*older IE*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
    -moz-opacity: .50; /*older Mozilla*/
    -khtml-opacity: 0.5;   /*older Safari*/
    opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
    background-color:#000000;
    position:fixed; top:0px; left:0px; width:100%; height:100%;
}

#overlayBody {
    z-index: 1100;
    position:fixed; top:0px; left:0px; width:100%; height:100%;
    text-align:center;
}

#overlayPage {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: white; 
    margin-top: 50px;
    text-align:left;
}


/*****************************************************************************/
/*** Portlets SHOULD use the CSS style definitions from this specification ***/
/*** in order to participate in a uniform display of their content by      ***/
/*** various Consumers.                                                    ***/
/*****************************************************************************/

/*** FONTS ***/

/*** Font attributes for the "normal" fragment font. Used for the display
     of non-accentuated information. ***/
.portlet-font {
  font-family: Arial,Verdana,Arial,Helvetica,sans-serif;
  font-size: 12pt;
}

/*** Font attributes similar to the portlet-font but the color is lighter. ***/
.portlet-font-dim {
  font-family: Arial,Verdana,Arial,Helvetica,sans-serif;
  font-size: 12pt;
  color: #808080;
}

/*** MESSAGES ***/

/*** Status of the current operation ***/
.portlet-msg-status {
}

/*** Help messages, general additional information, etc. ***/
.portlet-msg-info {
}

/*** Error messages ***/
.portlet-msg-error {
}

/*** Warning messages ***/
.portlet-msg-alert {
}

/*** Verification of the successful completion of a task. ***/
.portlet-msg-status {
}

