<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.jgrapes.http.rocker/demo/org/jgrapes/http/demo/httpserver/HttpServerDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jgrapes.http.demo.httpserver.HttpServerDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.jgrapes.http.rocker"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=jul-debug.properties"/>
</launchConfiguration>
