/*
 * Portlet specific styles.
 */
.jgrapes-osgi-bundles-preview {
    max-height: 20vw;
    overflow: auto; 
}
 
.jgrapes-osgi-bundles-preview td {
     padding-left: 0.5em;
     vertical-align: top;
}

.jgrapes-osgi-bundles-preview td:first-child {
     text-align: right;
}

.jgrapes-osgi-bundles-preview-tooltip {
    max-width: none;
}

.jgrapes-osgi-bundles-preview-tooltip td {
     padding-left: 0.5em;
     vertical-align: top;
}
