# Eclipse
/bin/
/bin_test/
/generated/
/.project
/.classpath
/.eclipse-pmd
/.checkstyle
/.settings

# Others
/console.log
/cleanup-mails-config.json
/mail-examples-config.json
/mail-examples-config.toml
/mail-connections-config.toml
/system-mail-config.toml
/user-mail-config.toml
/user-wftest-config.toml
