.portlet-expand {
    float: right;
    cursor: pointer;
}

body .fa-loading-modal {
    z-index: 1000;	
}

.ui-notification-container {
    position: fixed;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
}

.ui-notification .ui-notification-close {
    float: right;
    margin: 3px 3px 0 0;
    width: 1.2em;
    height: 1.2em;
    min-width: 1.2em;
    padding: 1px;
}

.ui-notification .ui-notification-content {
    width: auto;
    overflow: auto;
}

.ui-notification span.ui-icon {
	float: left;
	width: 1.2em;
	padding-top: 0.2em;
	margin-right: 0.5em;
	vertical-align: middle;
}

.jgrapes-tooltip-prototype {
    display: none;
}

