.top-bar {
    width: 100%;
    background-color: #5f5f5f;
    color: #f1f1f1;
    overflow: auto;
}

.top-bar span {
    display: block;
    float: right;
    padding: 10px;
}

.top-bar span:hover {
    background-color: black;
    color: white;
}

[data-jq-dropdown] {
    cursor: pointer;
}

.column {
    width: 33%;
    float: left;
    padding-bottom: 50px;
}

.jgrapes-widget {
    padding: 0.3em;
}

.jgrapes-widget-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.jgrapes-widget-content {
    padding: 0.4em;
}

.jgrapes-widget .jgrapes-widget-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}

.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-delete {
    float: right;
    cursor: pointer;
}

.portlet-edit {
    float: right;
    cursor: pointer;
}

.portlet-content {
    padding: 0.4em;
}

.portlet .portlet-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}
  
.jq-fa-loading.icon-only .fa-loading-content {
    box-shadow: initial;
    background: initial;
}

.ui-notification {
	margin: 10px 0;
}

.ui-notification .ui-notification-content {
    border: 0;
    margin: .5em 1em;
}

