name: Java CI

on: [push]

permissions:
  id-token: write

concurrency:
  group: doc_generation
  cancel-in-progress: false

jobs:
  build:
    strategy:
      matrix:
        java-version: [ '17' ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install graphviz
        run: sudo apt-get install graphviz
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
      - name: Build with Gradle
        run: ./gradlew stage
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
